body {
    background: radial-gradient(blue, red);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#stats {
    margin: 10px;
    border: 2px solid;
    border-radius: 4px;
    padding: 25px;
    width: 120px;
    height: 80px;
}

#timer {
    align-self:flex-start;
}

#counter {
    align-self:flex-start;
}

#buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: radial-gradient(orange, red);
}

#gameEndedWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#gameEnded {
    border: 2px solid;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    width: 50%;
}